<!DOCTYPE html>
<html>
  <head>
    <title>Husflix</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143622963-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-143622963-1');
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href=<%= image_url('favicon-32x32.png') %>>
    <script src="https://kit.fontawesome.com/525e69fa68.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap" rel="stylesheet">
    
    <script type="text/javascript">
      window.logoURL = "<%= image_url('husflix_logo_v1.png') %>"
      window.tempBgURL = "<%= image_url('temp-bg.png') %>"
      window.splashBg = "<%= image_url('Netflix_bg.jpg') %>"
    </script>
  </head>

  <body>
    <div id="RAILS_ENV_CONSTANT" style="display:none"><%= Rails.env %></div>

    <%= yield %>
  </body>
</html>