<!DOCTYPE html>
<html>
  <head>
    <title>Husflix</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/525e69fa68.js"></script>
    
    <script type="text/javascript">
      window.logoURL = "<%= image_url('husflix_logo_v1.png') %>"
      window.tempBgURL = "<%= image_url('temp-bg.png') %>"
      window.video = "<%= video_url('big_buck_bunny') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
