<!DOCTYPE html>
<html>
  <head>
    <title>Husflix</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/525e69fa68.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap" rel="stylesheet">
    
    <script type="text/javascript">
      window.logoURL = "<%= image_url('husflix_logo_v1.png') %>"
      window.tempBgURL = "<%= image_url('temp-bg.png') %>"
      window.splashBg = "<%= image_url('Netflix_bg.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>